doctype html
html(lang='de')
    head
        title Suremath
        link(rel='stylesheet' href="style/style.css")
    body
        div.header
            p Startseite
        div.container
            a.button(href="/list") Liste
            a.button(href="/upload-new") Neue Aufgabe hochladen